[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
opencv-python = "*"
urllib2 = "*"
urllib3 = "*"
pillow = "*"
pandas = "*"
matplotlib = "*"
boto3 = "*"
firebase-admin = "*"
scipy = "*"
awscli = "*"
speechrecognition = "*"
pyaudio = "*"
scikit-image = "*"


[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.6"
